<div class="modal modal-absolute dashboard-detail-mo-section" style="display:none;" id="tutorial_2">
    <div class="modal-dialog fame-dashboard-model">
        <div class="modal-content modal-music">
            <div class="modal-body share-profile"><button type="button" class="close fame-close-icon close-tutorial" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div>
                    <h2>Dashboard</h2>
                    <p>This is your dashboard, the most powerful and versatile tool you will find ever, siriusly, ever.<br />
                        Here you can check everything, from your tasks to your competition position.</p>
                    <div class="form-btn fame-btn">
                        <a class="btn fame-grey-btn" href="#" id="back_to_step1">Back</a>
                        &nbsp;&nbsp; <a class="btn fame-blue-btn" href="#" id="step2">great</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="arrow-right">arrow</div>
    </div>
</div>