<div class="modal modal-absolute" style="display:none;" id="tutorial_1">
    <div class="modal-dialog fame-music-model">
        <div class="modal-content modal-music">
            <div class="modal-body share-profile">
                <button type="button" class="close fame-close-icon close-tutorial data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div>
                    <h2>Hi Alex</h2>
                    <p>Welcome to Fame Music Beta, your last music platform. As you will notice, it's huge and we don't want you to get lost soooo, let's start, we are going to teach you the basics!</p>
                    <div class="form-btn fame-btn"> <a class="btn fame-blue-btn" href="#" id="step1">great</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>