<div class="modal modal-absolute my-task-mo-section" style="display:none;" id="tutorial_3">
  <div class="modal-dialog fame-dashboard-model">
    <div class="modal-content modal-music">
      <div class="modal-body share-profile">
        <button type="button" class="close fame-close-icon close-tutorial" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div>
          <h2>Tasks</h2>
          <p>We are testing something big here and yes...this is just the beginning but hey we wanted to share it with you! Follow the tasks, get bigger and bolder and conquer the stages!</p>
          <div class="form-btn fame-btn">
              <a class="btn fame-grey-btn" href="#" id="back_to_step2">Back</a>
              &nbsp;&nbsp; <a class="btn fame-blue-btn" href="#" id="step3">Cool!</a> </div>
        </div>
      </div>
    </div>
    <div class="arrow-left">arrow</div>
  </div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->