{% extends "base.html" %}
{% load thumbnail %}
{% load static from staticfiles %}

{% block header %}
    <!--Start: Header-->
    
      <div class="nav-top yellow-bg mobnav">
      <div class="back-icon-headbar hidden-xs"><a href="#"><i class="fa fa-chevron-circle-left fa-4"></i></a></div>
      <ul>
        <li class="pull-left"><a id="left-menu" href="#left-menu" class="menu-icon">menu</a></li>
        <li class="pull-right"><a id="right-menu" href="#right-menu" class="dashboard-icon">Dashboard menu</a></li>
        <li><a href="">News</a></li>
      </ul>
    </div>
      <!--End: Header-->

{% endblock header %}
{% block content %}

<div class="content faq-bg news-page">
    {% if featured_blogs %}
      <div class="news-banner-bg">
        <div class="row">
          <div class="col-sm-7 pad5 relative featured-image" style="background-image: url('{% static "images/news-banner-pic.png" %}');"> &nbsp;
            <div class="banner-sticker-hot"></div>
          </div>
          <div class="col-sm-5 pad5">
            <div class="news-banner-content">
              <div class="fire-icon"></div>
              <div class="news-block {% if forloop.counter == 1 %}active{% endif %}">
                <h4>Hot News</h4>
              {% for blog in featured_blogs %}
                <ul class="news-date">
                  <li class="hot">HOT</li>
                  <li>|</li>
                  <li class="date">{{blog.publish_date|date:"d M Y"}}</li>
                </ul>
                <p><a href="{% url "single_blog" blog.slug %}">{{blog.snippet}}</a></p>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if blogs %}
      <div class="hot-news-section clearfix">
        <h3>Latest Articles</h3>
        <div class="row">
          {% for blog in blogs %}
          <div class="col-sm-3 news-section">
            <div class="news-thumb relative"><a href="{% url "single_blog" slug=blog.slug %}"><img src="{% static "images/news-holder-thumb.png" %}" class="img-responsive" alt=""></a>
              <div class="banner-sticker-hot-small"></div>
            </div>
            <div class="news-block active">
              <ul class="news-date">
                <li class="hot">HOT</li>
                <li>|</li>
                <li class="date">12 Jun 2015</li>
              </ul>
              <h5>{{blog.title}}</h5>
              <div class="news-details">
                <p>{{blog.snippet}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      
      <!--Start: Bannner--> 
      
    </div>

{% endblock content %}