{% extends "base.html" %}
{% load static from staticfiles %}

{% block header %}
    <!--Start: Header-->
    
      <div class="nav-top yellow-bg mobnav">
      <div class="back-icon-headbar hidden-xs"><a href="#"><i class="fa fa-chevron-circle-left fa-4"></i></a></div>
      <ul>
        <li class="pull-left"><a id="left-menu" href="#left-menu" class="menu-icon">menu</a></li>
        <li class="pull-right"><a id="right-menu" href="#right-menu" class="dashboard-icon">Dashboard menu</a></li>
        <li><a href="">News</a></li>
      </ul>
    </div>
      <!--End: Header-->

{% endblock header %}
{% block content %}

<div class="content faq-bg news-page">
      <div class="news2-banner-bg">
        <div class="relative"><img src="{% static "images/News2-banner.jpg" %}" class="img-responsive" alt="">
          <div class="banner-sticker-hot"></div>
        </div>
        <div class="post-container">
          <h3>Hear the Latest Version of Deadmau5 and Kaskade’s New Collaboration</h3>
          <div class="post-info-section"> <span class="posted-by"> by dave jenkins</span>
            <ul class="post-info">
              <li class="news">NEWS</li>
              <li>|</li>
              <li>12 Jun 2015</li>
              <li><a href="#" class="tag">KASKADE</a> <a href="#"  class="tag">DEADMAU5</a></li>
            </ul>
            <ul class="social">
              <li><a href="#" class="fb">Facebook</a></li>
              <li><a href="#" class="twitter">Twitter</a></li>
              <li><a href="#" class="gp">Google Plus</a></li>
            </ul>
          </div>
          <div class="post">
            <p>Seven years ago, Joel ‘Deadmau5 Zimmerman and Ryan ‘Kaskade’ Raddon got together to make 
              “I Remember,” a progressive house anthem that endures today. Now it appears 
              the two producers are at work on something more sombre, enlisting the vocal 
              talents of singer-songwriter Skylar Grey. Casually revealed in a couple of tweets, 
              “Beneath With Me” is described by Zimmerman as “a song about a dead person singing 
              to a not dead person to come be dead with them.”</p>
            <p>After revealing an early snippet on the now-active-again ‘fuckmylife’ SoundCloud, 
              Deadmau5 has revealed an updated version of “Beneath With Me” for all the expectant fans. 
              Meanwhile, the Canadian also recently shared a seven-minute version of his collaboration with Buffalo, 
              New York’s rising star Grabbitz. That team-up was sparked after Grabbitz uploaded a vocal edit of Deadmau5’s 
              “Silent Picture,” from his most recent album While(1&lt;2), to SoundCloud. Almost eight months after it surfaced, 
              Zimmerman reached out on Twitter to make it official.</p>
          </div>
          <div class="quote"> <span class="quote-icon"></span>
            <p> Apparently there’s a long list of unfinished Deadmau5 projects nearing completion, which is sure to make the horde rejoice.</p>
          </div>
          <div class="post">
            <p>Seven years ago, Joel ‘Deadmau5 Zimmerman and Ryan ‘Kaskade’ Raddon got together to make 
              “I Remember,” a progressive house anthem that endures today. Now it appears 
              the two producers are at work on something more sombre, enlisting the vocal 
              talents of singer-songwriter Skylar Grey. Casually revealed in a couple of tweets, 
              “Beneath With Me” is described by Zimmerman as “a song about a dead person singing 
              to a not dead person to come be dead with them.”</p>
            <p>After revealing an early snippet on the now-active-again ‘fuckmylife’ SoundCloud, 
              Deadmau5 has revealed an updated version of “Beneath With Me” for all the expectant fans. 
              Meanwhile, the Canadian also recently shared a seven-minute version of his collaboration with Buffalo, 
              New York’s rising star Grabbitz. That team-up was sparked after Grabbitz uploaded a vocal edit of Deadmau5’s 
              “Silent Picture,” from his most recent album While(1&lt;2), to SoundCloud. Almost eight months after it surfaced, 
              Zimmerman reached out on Twitter to make it official.</p>
            <div class="post-thumb-left"><img src="{% static "images/post-thumb-left.jpg" %}" class="img-responsive" alt=""></div>
            <p>Seven years ago, Joel ‘Deadmau5 Zimmerman and Ryan ‘Kaskade’ Raddon got together to make 
              “I Remember,” a progressive house anthem that endures today. Now it appears 
              the two producers are at work on something more sombre, enlisting the vocal 
              talents of singer-songwriter Skylar Grey. Casually revealed in a couple of tweets, 
              “Beneath With Me” is described by Zimmerman as “a song about a dead person singing 
              to a not dead person to come be dead with them.”</p>
            <p>After revealing an early snippet on the now-active-again ‘fuckmylife’ SoundCloud, 
              Deadmau5 has revealed an updated version of “Beneath With Me” for all the expectant fans. 
              Meanwhile, the Canadian also recently shared a seven-minute version of his collaboration with Buffalo, 
              New York’s rising star Grabbitz. That team-up was sparked after Grabbitz uploaded a vocal edit of Deadmau5’s 
              “Silent Picture,” from his most recent album While(1&lt;2), to <a href="#">SoundCloud</a>. Almost eight months after it surfaced, 
              Zimmerman reached out on Twitter to make it official.</p>
          </div>
          <div class="share-post"><img src="{% static "images/post-share.png" %}" class="img-responsive" alt=""></div>
          <div class="post-reply-container">
            <div class="post-reply">
              <div class="reply-thumb"><img src="{% static "images/reply-pic.png" %}" class="img-responsive img-circle"  alt=""></div>
              <div class="reply-details">
                <div class="replied-by"><a href="#">Angelina Andrews</a> said:</div>
                <div class="reply-text">
                  <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, w
                    hat a change between to-day and yesterday! Now I am friendless and alone;
                    yesterday I was at home, in the sweet company of a sister, whom I shall ever, ever cherish!</p>
                </div>
                <ul class="reply-options">
                  <li><a href="#">REPLY</a>|</li>
                  <li><a href="#">LIKE</a>|</li>
                  <li><a href="#">SHARE</a></li>
                </ul>
              </div>
            </div>
            <div class="post-reply sub-reply">
              <div class="reply-thumb"><img src="{% static "images/post-reply-thumb2.png" %}" class="img-responsive img-circle"  alt=""></div>
              <div class="reply-details">
                <div class="replied-by"><a href="#">Angelina Andrews</a> said:</div>
                <div class="reply-text">
                  <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, w
                    hat a change between to-day and yesterday! Now I am friendless and alone;
                    yesterday I was at home, in the sweet company of a sister, whom I shall ever, ever cherish!</p>
                </div>
                <ul class="reply-options">
                  <li><a href="#">REPLY</a>|</li>
                  <li><a href="#">LIKE</a>|</li>
                  <li><a href="#">SHARE</a></li>
                </ul>
              </div>
            </div>
            <div class="post-reply">
              <div class="reply-thumb"><img src="{% static "images/reply-pic.png" %}" class="img-responsive img-circle"  alt=""></div>
              <div class="reply-details">
                <div class="replied-by"><a href="#">Angelina Andrews</a> said:</div>
                <div class="reply-text">
                  <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, w
                    hat a change between to-day and yesterday! Now I am friendless and alone;
                    yesterday I was at home, in the sweet company of a sister, whom I shall ever, ever cherish!</p>
                </div>
                <ul class="reply-options">
                  <li><a href="#">REPLY</a>|</li>
                  <li><a href="#">LIKE</a>|</li>
                  <li><a href="#">SHARE</a></li>
                </ul>
              </div>
            </div>
            <div class="post-reply">
              <div class="reply-thumb"><img src="{% static "images/reply-pic.png" %}" class="img-responsive img-circle"  alt=""></div>
              <div class="reply-details">
                <div class="replied-by"><a href="#">Angelina Andrews</a> said:</div>
                <div class="reply-text">
                  <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, w
                    hat a change between to-day and yesterday! Now I am friendless and alone;
                    yesterday I was at home, in the sweet company of a sister, whom I shall ever, ever cherish!</p>
                </div>
                <ul class="reply-options">
                  <li><a href="#">REPLY</a>|</li>
                  <li><a href="#">LIKE</a>|</li>
                  <li><a href="#">SHARE</a></li>
                </ul>
              </div>
            </div>
            
            
            <div class="post-reply reply-comment">
              <div class="reply-thumb"><img src="{% static "images/reply-pic.png" %}" class="img-responsive img-circle"  alt=""></div>
              <div class="reply-details">
                <textarea name="" cols="" rows="" class="form-control comment-field" placeholder="Comment"></textarea>
              <a href="#" class="btn btn-yellow pull-right"> SUBMIT</a> </div>
            </div>
            
            
            
          </div>
        </div>
      </div>
      
      <!--Start: Bannner--> 
      
    </div>
{% endblock content %}