{% load i18n %}
{% load static from staticfiles %}
{% block extrahead %}
    <link href="{% static 'css/prettyCheckable.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

<div class="modal-body" id="audio_uploader">
    {{ a }}
    <h3>{% trans 'Upload a track to Fame' %}</h3>
    <div style="border:dashed 2px #d7d7d7; height:300px; border-radius:10px">
        <div class="drad-here-holder">
            <a href="#" class="btn btn-bdr-blue">
                <form action="{% url 'add_audio_step1' %}" method="post" enctype="multipart/form-data" id="form_upload_step1">
                    {{ form.audio }}
                    UPLOAD A TRACK
                </form>
            </a>
            {#                                <p>or DRAG AND DROP</p>#}
        </div>
    </div>
    <div class="import-links clearfix">
        <h5> {% trans 'or Import tracks from:' %}</h5>
        <ul>
            <li><a href="{% url 'social:begin' 'spotify' %}"><img src="{{ MEDIA_URL }}images/impot-track-icon01.png" width="31" height="29" alt=""></a></li>
            <li><a href="{% url 'social:begin' 'mixcloud' %}"><img src="{{ MEDIA_URL }}images/impot-track-icon02.png" width="43" height="29" alt=""></a></li>
            <li><a href="{% url 'social:begin' 'soundcloud' %}?soundcloud_success=true"><img src="{{ MEDIA_URL }}images/impot-track-icon03.png" width="39" height="29" alt=""></a></li>
            <li><a href="#"><img src="{{ MEDIA_URL }}images/impot-track-icon04.png" width="73" height="29" alt=""></a></li>
            <li class="last"><a href="#"><img src="{{ MEDIA_URL }}images/impot-track-icon05.png" width="126" height="29" alt=""></a></li>
        </ul>
    </div>
</div>

<div class="modal-body mobcard share-profile" id="soundcloud_import" style="display: none">
    <a href="#" class="close-icon">close</a>
    <form action="{% url 'soundcloud_import' %}" method="post" id="soundcloud_import_form">
        <div class="enter-competition">
            <h3>Pick a track you wish to use</h3>
            <p id="pick_error" style="color: #dc0949; display:none;">This track is already on Fame</p>
            <div class="scroll-pane-aria">
                <div class="scroll-pane">
                    {% csrf_token %}
                {% if soundcloud %}
                        {% for track in soundcloud %}
                            <div class="track-pickup-block">
                                <div class="track-img"><img src="{{ track.artwork_url }}" class="img-responsive" alt=""></div>
                                <input type="radio" data-label=""  class="pull-right " name="track_id" value="{{ track.id }}" id="checkbox" />
                                <input type="hidden" name="download" value="{{ track.download_url }}"/>
                                <div class="info"> <span class="track-name">{{ track.title }}</span><br />
                                    {{ track.user.username }}
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}

                {% if mixcloud %}
                    {% for track in mixcloud %}
                        <div class="track-pickup-block">
                            <div class="track-img"><img src="{{ track.pictures.thumbnail }}" class="img-responsive" alt=""></div>
                            <input type="radio" data-label=""  class="pull-right " name="track_id" value="{{ track.id }}" id="checkbox" />
                            <div class="info"> <span class="track-name">{{ track.name }}</span><br />
                                {{ track.user.name }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if tracks %}
                    {% for track in tracks %}
                        <input type="radio" data-label=""  class="pull-right " name="track_id" value="{{ track.id }}" id="checkbox" />
                    {% endfor %}

                {% endif %}

                </div>
            </div>
            <div class="form-btn">
                <div style="display: none" id="loading">
                    <img src="{% static 'images/ajax-loader.gif' %}" alt=""/>
                </div>
                <a href="javascript:void(0)" class="btn btn-pink" id="submit_import_soundcloud">IMPORT</a></div>
                <a href="javascript:void(0)" class="btn btn-green" id="#done" style="display: none">DONE</a></div>
        </div>
    </form>
</div>

<script defer src="{% static 'js/prettyCheckable.min.js' %}"></script>

<script>

    $(document).ready(function(){

        $('.close-icon').on('click', function(){
            $('.modal').modal('hide');
        });

        $('input:radio').prettyCheckable();

        var soundcloud_success = getUrlParameter('soundcloud_success');
        var spotify_success = getUrlParameter('spotify_success');
        var mixcloud_success = getUrlParameter('mixcloud_success');

        var add_file = $('#audio_uploader');
        var pick_track = $('#soundcloud_import');

        if (soundcloud_success || spotify_success || mixcloud_success){
            add_file.hide();
            pick_track.show();
        } else {
            add_file.show();
            pick_track.hide();
        }

        var submit_sc = $('#submit_import_soundcloud');
        submit_sc.on('click', function(){
            $('#soundcloud_import_form').ajaxSubmit({
                success: function(data){
                    if (data.success) {
                        console.log('success');
                    } else {
                        console.log('error');
                        if (data.msg){
                            var errors = $('#pick_error');
                            errors.text(data.msg);
                            errors.show();
                        }
                    }
                },
                beforeSend: function(){
                    submit_sc.hide();
                    $('#loading').show();
                },
                error: function(){
                    submit_sc.show();
                },
                complete: function(e){
                    console.log('complete');
                    $('#loading').hide();
                    window.location.replace('/profile/');
                }

            });
        })

    })

</script>