{% load static from staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "assets/css/html5imageupload.css" %}"/>
    <link href="{% static 'css/bootstrap-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}

<div class="" id="audio_description">
    <h3>Upload a track to Fame</h3>

    <form role="form" method="post" action="{{ form_action }}" id="audio_step2_form" onsubmit="clearInterval(intervalID);">
        <div class="row">
            <div class="col-sm-4">
                <div class="track-thumb upload-track-thumb dropzone" data-width="165" data-height="165" data-resize="true" data-url="{% url 'playlist_cover' %}" > <a href="#" class="btn btn-blue btn-sm" style="position: relative !important;"> UPLOAD AN IMAGE</a>
                    <p style="position: relative !important;">or DRAG AND DROP</p>
                    <input type="file" name="cover" id="id_cover" />
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                    <label>Title</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label>Artist</label>
                    {{ form.artist }}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Track Type</label>
                            {{ form.type }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Genre</label>
                            {{ form.genre }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Description</label>
                    {{ form.description }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>BPM</label>
                    {{ form.bpm }}
                </div>
                <div class="form-group">
                    <label>Privacy</label>
                    {{ form.privacy }}
                </div>
            </div>
        </div>
        <div class="clearfix form-btn">
            <button type="submit" class="btn btn-default btn-green" id="submit-audio-2" disabled><i class="fa fa-check"></i> SUBMIT</button>
        </div>
    </form>
</div>

{% block extra-script %}
    <script src="{% static 'assets/js/html5imageupload.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>

<script>
    var form = [$('#id_cover'),
                $('#id_name'),
                $('#id_artist'),
                $('#id_type'),
                $('#id_genre'),
                $('#id_description'),
                $('#id_bpm'),
                $('#id_privacy')];
    function validateForm() {
        console.log('validate')
        var invalidForm = false;
        for(var i = 0; i < form.length; i++) {
            if(!form[i].val()) invalidForm = true;
        }
        if(invalidForm) $('#submit-audio-2')[0].disabled = true;
        else $('#submit-audio-2')[0].disabled = false;
    }
    var intervalID = setInterval(validateForm, 1000);
/*    for(var i = 0; i < form.length; i++) {
        form[i].on('input propertychange', function() {
            validateForm();
        });
    }*/
    $('.dropzone').html5imageupload();
    $('.selectpicker').selectpicker();
</script>
{% endblock %}