{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load media_tags %}

{% block body-class %} ng-app="MediaApp"{% endblock body-class %}
{% block app-controller %} ng-controller="MainCtrl"{% endblock app-controller %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'audioplayer/audioplayer.css' %}"/>
<div class="nav-top blue-bg mobnav">
    <ul>
      <li class="hidden-xs">MEDIA</li>
      <li class="pull-left"><a id="left-menu" href="#left-menu" class="menu-icon">menu</a></li>
      <li class="pull-right"><a id="right-menu" href="#right-menu" class="dashboard-icon">Dashboard menu</a></li>
    </ul>
</div>
{% endblock header %}
{% block content %}
    <div class="content profile-bg-blue see-artist-page">
        <h2 class="title">All Media</h2>
        <div class="search-filter-nav chart-dropdown">
          <ul class="nav navbar-nav nav-dropdown-custom">
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">genres <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">CRS ITALY</a></li>
                  <li><a href="#">AFROBEATS</a></li>
                  <li><a href="#">WEMC</a></li>
                  <li><a href="#">GRS AMERICA</a></li>
              </ul>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">popularity <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">CRS ITALY</a></li>
                  <li><a href="#">AFROBEATS</a></li>
                  <li><a href="#">WEMC</a></li>
                  <li><a href="#">GRS AMERICA</a></li>
              </ul>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">country <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">CRS ITALY</a></li>
                  <li><a href="#">AFROBEATS</a></li>
                  <li><a href="#">WEMC</a></li>
                  <li><a href="#">GRS AMERICA</a></li>
              </ul>
            </li>
<!--            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='radio' name='popular'> Most popular today</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular this week</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular month</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular all time</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">popularity <span class="caret"></span></a></li>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='checkbox'> France</label></div><div class='checkbox'><label><input type='checkbox'> Italy</label></div><div class='checkbox'><label><input type='checkbox'> Spain</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">country <span class="caret"></span></a> </li>-->
          </ul>
        </div>
        <div class="artists-search-section">
          <div class="row">
            {% if audios %}
            <h3 class="title col-sm-12"><a href="{% url 'all_tracks' %}">Tracks</a></h3>
            {% verbatim %}
            <div class="col-xs-6 col-sm-3" ng-repeat="track in tracks">
              <div class="music-overview-block music_box">
                <div class="playlist-thumb-hover" style="display: none">
                  <ul class="pl-list">
                        <li><a href="#" toid="{{ track.id }}" id="likeAudioButton" class="heart likeAudioButton" ng-class="user_likes(track.user_like)">ddd</a></li>
                        <li><a href="#" toid="{{ track.id }}" class="comment commentAudioButton">ddd</a></li>
                      <li><a href="/media/playlist/addtrack/{{track.id}}/" data-toggle="modal" data-target="#upload_music_modal" class="playlist-play">ddd</a></li>
                      <li><a href="/media/share/{{ track.uid }}/" data-toggle="modal" data-target="#upload_music_modal" class="share">ddd</a></li>
                  </ul>
                  <div class="play-pl-cont"> <a href="/media/trackcard/{{ track.id }}/" class="play-pl" data-toggle="modal" data-target="#trackcard">Play</a> </div>
                  <div class="hover-title">
                      <h5>{{ track.name }}</h5>
                      <span class="subtxt">{{ track.artist.name }}</span> </div>
              </div>
                <img src="{{track.cover_200}}" width="200" height="200" class="img-responsive" >
              </div>
            </div>
            {% endverbatim %}
            {% if not videos and not playlists %}
            <div class="pagination-wrapper">
                <pagination class="pagination-ch"
                                        total-items="totalTracksCount"
                                        items-per-page="maxMediasPerPage"
                                        ng-model="mediasCurrPage"
                                        ng-change="loadMedias()"
                                        num-pages="pageCount"
                                        max-size="maxPages"
                                        rotate="false"
                                        boundary-links="true"
                                        ng-show="pageCount > 1"
                    ></pagination>
                </div>
              {% endif %}
            {% endif %}
            {% if videos %}
            <h3 class="title col-sm-12"><a href="{% url 'all_videos' %}">Videos</a></h3>
            {% verbatim %}
            <div class="col-sm-6" ng-repeat="video in videos">
                        <div class="music-overview-block video_box">
                            <div class="playlist-thumb-hover" style="display: none">
                                <ul class="pl-list">
                                    <li><a href="#" class="heart">ddd</a></li>
                                    <li><a href="#" class="comment">ddd</a></li>
                                    <li><a href="#" class="share">ddd</a></li>
                                </ul>
                                <div class="play-pl-cont"> <a href="/apps/media/videocard/{{video.id}}/" data-toggle="modal" data-target="#trackcard" class="play-pl">Play</a> </div>
                                <div class="hover-title">
                                    <h5>{{ video.name }}</h5>
                                    <span class="subtxt">{{ video.artist }}</span> </div>
                            </div>
                                <img src="{{ video.cover_400 }}" class="img-responsive" >
                    </div>
                </div>
            {% endverbatim %}
            {% if not audios and not playlists %}
            <div class="pagination-wrapper">
                <pagination class="pagination-ch"
                                        total-items="totalVideosCount"
                                        items-per-page="maxMediasPerPage"
                                        ng-model="mediasCurrPage"
                                        ng-change="loadMedias()"
                                        num-pages="pageCount"
                                        max-size="maxPages"
                                        rotate="false"
                                        boundary-links="true"
                                        ng-show="pageCount > 1"
                    ></pagination>
                </div>
              {% endif %}
            {% endif %}
            {% if playlists %}
            <h3 class="title col-sm-12"><a href="{% url 'all_playlists' %}">Playlists</a></h3>
            {% verbatim %}
              <div class="col-sm-3" ng-repeat="playlist in playlists">
                  <div class="music-overview-block playlist_box"> 
                      <a href="#" toid="{{playlist.id}}" class="play_playlist"><img src="{{ playlist.cover_200 }}" class="img-responsive" ></a>

                      <div class="playlist-list">
                          <ol>
                            <li ng-repeat="item in playlist.playlist_items">{{ item.audio.name }}<span class="subtext">{{ item.audio.artist }}</span></li>
                          </ol>
                      </div>
                  </div>
              </div>
            {% endverbatim %}
            {% if not audios and not videos %}
            <div class="pagination-wrapper">
                <pagination class="pagination-ch"
                                        total-items="totalPlaylistsCount"
                                        items-per-page="maxMediasPerPage"
                                        ng-model="mediasCurrPage"
                                        ng-change="loadMedias()"
                                        num-pages="pageCount"
                                        max-size="maxPages"
                                        rotate="false"
                                        boundary-links="true"
                                        ng-show="pageCount > 1"
                    ></pagination>
                </div>
              {% endif %}
            {% endif %}
          </div>
          
        </div>
      </div>
{% endblock %}

{% block extra-script %}
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script src="{% static 'bower_components/lodash/lodash.min.js' %}"></script>
<script src="{% static 'js/media-app.js' %}"></script>
<script src="{% static 'js/media.factory.js' %}"></script>
<script src='{% static "audioplayer/audioplayer.js" %}' type="text/javascript"></script>
    <script defer src="{% static "js/jquery.flexslider.js" %}"></script>

    <script>
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                direction: "top",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>

<div class="modal modal-absolute" id="upload_music_modal">
        <div class="modal-dialog" style="z-index: 9991">
            <div class="modal-content modal-music">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-track modal-absolute" id="trackcard">
        <div class="modal-dialog" style="z-index: 9991">
            <div class="modal-content modal-contnet-bg">
            </div>
        </div>
    </div>
<div class="modal modal-absolute" id="modal-comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" style="z-index: 9991">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Comment</h4>
            </div>
            <div class="modal-body">
                <form id="comment_audio_form">
                    <div class="form-group">
                        <label for="comment" class="control-label">Enter comment text:</label>
                        <textarea class="form-control" id="comment" name="comment"></textarea>
                    </div>
                    <input type="hidden" name="audio">
                    <input type="hidden" name="time">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onclick="send_audio_comment()" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
      $("body").delegate(".music_box, .video_box, .playlist_box", "mouseenter", function () {
          $(this).find('div').fadeIn(200);
      });
      $("body").delegate(".music_box, .video_box, .playlist_box", "mouseleave", function () {
          $(this).find('div').fadeOut(200);
      });
  });
        jQuery(document).ready(function ($) {
          var playerid = 'ag1';
          var settings_ap = {
            disable_volume: 'off'
            , disable_scrub: 'default'
            , design_skin: 'skin-wave'
            , skinwave_dynamicwaves: 'on'
            , skinwave_enableSpectrum: 'off'
            , settings_backup_type: 'full'
            , skinwave_enableReflect: 'on'
            , skinwave_comments_enable: 'on'
            , skinwave_timer_static: 'off'
            , disable_player_navigation: 'off'
            , skinwave_mode: 'normal'
            , skinwave_comments_retrievefromajax: 'on'
          };
          dzsag_init('#' + playerid, {
            'transition': 'fade'
            , 'cueFirstMedia': 'on'
            , 'autoplay': 'on'
            , 'autoplayNext': 'off'
            , design_menu_position: 'bottom'
            , 'settings_ap': settings_ap
            , design_menu_state: 'open'
            , design_menu_show_player_state_button: 'off'
            , embedded: 'off'
            , enable_easing: 'on'

          });
        })

</script>
<script>
  $(function() {

    $(".music_box").on({
        mouseenter: function () {
            $( this ).find('div').fadeIn(200);
        },
        mouseleave: function () {
            $( this ).find('div').fadeOut(200);
        }
    });
    $(".video_box").on({
        mouseenter: function () {
            $( this ).find('div').fadeIn(200);
        },
        mouseleave: function () {
            $( this ).find('div').fadeOut(200);
        }
    });
    $(".playlist_box").on({
        mouseenter: function () {
            $( this ).find('div').fadeIn(200);
        },
        mouseleave: function () {
            $( this ).find('div').fadeOut(200);
        }
    });
  });
</script>
<script>
  $("body").delegate(".play_playlist", "click", function () {
    var id = this.attributes.toid.value;
        $.ajax({
            url: '/api/playlist/' + id,
            type: 'GET',
            success: function(data) {
                print_audio(data);
            },
            error: function(err) { console.log(err); },
        });
  });
function print_audio(playlist) {
  var item ='';
  $("#playlist_items").empty();
  playlist.forEach(function(item){
      document.getElementById("playlist_items").innerHTML +=
        '<div id="'+item.id+'-'+item.audio.id+'" class="audioplayer-tobe" style="width:100%; " data-thumb="' + item.audio.cover_200 + '" data-thumb_link="'+item.audio.cover_200+'" data-bgimage="{% static "audioplayer/img/bgminion.jpg" %}" data-scrubbg="{% static "audioplayer/waves/scrubbg.png" %}" data-scrubprog="{% static "audioplayer/waves/scrubprog.png" %}" data-videoTitle="Audio Video" data-type="normal" data-source="' + item.audio.audio + '"> ' +
            '<div class="meta-artist"><span class="the-artist">'+item.audio.artist_en+'</span><br/><span class="the-name">'+item.audio.name_en+'</span>' +
            '</div>' +
            '<div class="menu-description">' +
                '<div class="the-artist">' +
                        "<div class=\"index\" style='float: left; font-size: 12px; width: 4%'>" + index + "</div>" + 
                        "<div class=\"index\" style='float: left; font-size: 12px; width: 31%'>" + item.audio.name + "</div>" + 
                        "<div class=\"index\" style='float: left; font-size: 12px; width: 27%'>" + item.audio.artist + "</div>" + 
                        "<div class=\"index\" style='float: left; font-size: 12px; width: 13%'>" + item.audio.length + "</div>" + 
                        "<div class=\"index\" style='float: left; font-size: 12px; width: 14%'>" + item.audio.plays + "</div>" + 
                        "<div class=\"index\" style='float: left; font-size: 12px; width: 11%'><a href=\"#\" class=\"minus-icon\">minus</a></div>" + 
                '</div>' +
            '</div>' +
        '</div>';
  });

  var settings_ap = {
    disable_volume: 'off'
    ,disable_scrub: 'default'
    ,design_skin: 'skin-wave'
    ,skinwave_dynamicwaves:'off'
    ,skinwave_enableSpectrum:'off'
    ,settings_backup_type:'full'
    ,skinwave_enableReflect:'on'
    ,skinwave_comments_enable:'on'
  };
  dzsag_init('#ag_playlist',{
    'transition':'fade'
    ,'autoplay' : 'on'
    ,'settings_ap':settings_ap
  });
}
</script>
{% endblock %}