{% extends "base.html" %}
{% block sidebar-left %}{% endblock %}
{% block sidebar-right %}{% endblock %}
{% block header %}{% endblock %}
{% load static from staticfiles %}
{% block title %}Complete!{% endblock title %}
{% block extrahead %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <link href="{% static 'css/bootstrap-select.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="login_modal" class="modal modal-absolute" style="display:block;">
        <div class="modal-dialog fame-music-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="fame-music-logo-block">
                        <h3 class="fame-music-logo">Fame Music</h3>
                    </div>
                    <div class="form-group">
                        <div>
                            <p>Your password has been set.  You may go ahead and log in now.</p>
                            <div class="text-center" style="padding-bottom:25px">
                                <a href="{{ login_url }}" id="reset" class="btn pbtn">LOG IN</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}