{% extends "base.html" %}
{% block sidebar-left %}{% endblock %}
{% block sidebar-right %}{% endblock %}
{% block header %}{% endblock %}
{% load static from staticfiles %}
{% block title %}Reset Password{% endblock title %}
{% block extrahead %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <link href="{% static 'css/bootstrap-select.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="login_modal" class="modal modal-absolute" style="display:block;">
        <div class="modal-dialog fame-music-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="fame-music-logo-block">
                        <h3 class="fame-music-logo">Fame Music</h3>
                    </div>
                    <form action="" method="post" id="reset_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <p id="errors" style="color: #f10950"></p>
                            <div class="input-group"> <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-envelope"></i></span>
                                <input type="email" name="email" id="id_email" class="form-control" placeholder="Your E-mail" aria-describedby="sizing-addon2">
                            </div>
                        </div>
                        <div class="text-center" style="padding-bottom:25px"><a href="#" id="reset" class="btn pbtn"> RESET</a> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            $('#reset').on('click', function(){
                $('#reset_form').ajaxSubmit({
                    success: function(data){
                        if (data.success){
                            console.log(data.msg)
                        } else {
                            $('#errors').text(data.msg);
                        }
                    },
                    dataType: 'json'
                });
            });
        });
    </script>

{% endblock %}

{% block footer %}{% endblock %}