{% extends 'widgets-base.html' %}
{% block content %}
    <div class="modal modal-track modal-absolute" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content modal-contnet-bg">
                <div class="modal-body">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>

                    <!-- Nav tabs -->
                    <h3 class="trackcard-title"> Track Card</h3>
                    <!-- Tab panes -->

                    <div role="tabpanel" class="tab-pane" id="mixtape">
                        <div class="track-plylist">
                            <div class="track-thumb"><img src="{{ site }}/static/images/clarity-thumb.png"  class="img-responsive" alt=""></div>
                            <div class="track-info">
                                <h3>Clarity</h3>
                                <p>ZEDD</p>
                                <ul class="pl-opt">
                                    <li><a href="#" class="pl-icons like">like</a></li>
                                    <li><a href="#" class="pl-icons comment">Comments</a></li>
                                    <li><a href="#" class="pl-icons music">Music</a></li>
                                    <li><a href="#" class="pl-icons share">Share</a></li>
                                </ul>
                                <ul class="pl-counts">
                                    <li><span class="likes"></span>1356</li>
                                    <li><span class="plays"></span>2594</li>
                                    <li><span class="counts"></span>03:45</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sound-track">
                            <h5 class="hidden-xs"><span>Marcus Shultz:</span> love this with all myself!</h5>
                            <div class="track-pic hidden-xs"><img src="{{ site }}/static/images/track-selection.png" class="img-responsive" alt=""></div>
                            <div  class="track-pic-small visible-xs"><img src="{{ site }}/static/images/track-img-2.png" class="img-responsive" alt=""></div>
                            <div class="row">
                                <div class="col-sm-12 hidden-xs">
                                    <div class="tracklist">
                                        <h5>Description:</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.nesciunt. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}