.dropzone{
    background-color: transparent!important;
    text-align: center;
    position: relative;
    display: inline-block;
}
.dropzone:after{
    content: "" !important;
    position: absolute;
    bottom: 60%; left: 0;
    width: 100%; text-align: center; z-index:0;
}
.dropzone:before{
    content: ''; font-family:"Glyphicons Halflings"; font-size: 60px;
    color: #dbdbdb; position: absolute;
    top: 40%; left: 0; width: 100%; text-align: center; z-index:0;
}

/* competition upload button */
.upload_field {
    height: 40px;
    margin-left: 150px;
    margin-top: -40px;
    opacity: 0;
    cursor: pointer;
}

.btn.btn-red {
    margin-left: -70px;
}
#social_networks {
    padding: 20px 60px;
}
#social_networks a {
    margin-bottom: 20px;
}