{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block header %}
<div class="nav-top blue-bg mobnav">
    <ul>
      <li class="hidden-xs">CONNECTIONS</li>
      <li class="pull-left"><a id="left-menu" href="#left-menu" class="menu-icon">menu</a></li>
      <li class="pull-right"><a id="right-menu" href="#right-menu" class="dashboard-icon">Dashboard menu</a></li>
    </ul>
</div>
{% endblock header %}
{% block content %}
    <div class="content profile-bg-blue see-artist-page">
        <h2 class="title">Your Connections</h2>
        <div class="search-filter-nav">
          <ul>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='checkbox'> Pop</label></div><div class='checkbox'><label><input type='checkbox'> Rock</label></div><div class='checkbox'><label><input type='checkbox'> Rap</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">genres <span class="caret"></span></a></li>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='radio' name='popular'> Most popular today</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular this week</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular month</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular all time</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">popularity <span class="caret"></span></a></li>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='checkbox'> France</label></div><div class='checkbox'><label><input type='checkbox'> Italy</label></div><div class='checkbox'><label><input type='checkbox'> Spain</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">country <span class="caret"></span></a> </li>
          </ul>
        </div>
        <div class="artists-search-section">
          {% for artist in total_connections %}
            {% if artist.connection %}
            <div class="col-sm-2 pad5">
              <div class="music-overview-block widget-pro"><img src="{% static "images/artist-profile-bg.png" %}" class="img-responsive"  alt="">
                <div  class="profile-head" style=" position:relative">
                  <div class="profile-pic">{% thumbnail artist.connection.userprofile.picture "130x130" crop="center" as im %}
                      {% if im.url %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-circle" >
                      {% else %}
                            <img src="{% static "images/profile-pic2.png" %}" class="img-responsive img-circle"  alt="">
                      {% endif %}
                        {% endthumbnail %}</div>
                  <div class="profile-circle-img">
                    <div class="profile-circle"></div>
                  </div>
                  <h3>{{artist.connection.userprofile.display_name}}</h3>
                  <p>Artist</p>
                </div>
                <div class="profile-view-bar"> <a href="{% url "single_artist" artist.connection.username %}" class="btn btn-sm btn-{% cycle "green" "blue" %}">View More</a> </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          
        </div>
      </div>
{% endblock %}