{% extends "base.html" %}
{% load static from staticfiles %}

{% block extrahead %}
<link href="{% static "css/prettyCheckable.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
<div class="nav-top red-bg mobnav">
  <div class="back-icon-headbar hidden-xs"><a href="#"><i class="fa fa-chevron-circle-left fa-4"></i></a></div>
    <ul>  
   <li class="hidden-xs">WEMC FRANCE</li>
     <li class="pull-left"><a id="left-menu" href="#left-menu" class="menu-icon">menu</a></li>
     <li class="pull-right"><a id="right-menu" href="#right-menu" class="dashboard-icon">Dashboard menu</a></li>
    </ul>
  </div>
{% endblock header %}

{% block content %}
<div class="content account-settins">
        <h4>Account Overview</h4>
        <div class="frame">
          <div class="row">
            <div class="col-sm-6">
              <form action="{% url 'settings' %}" method="post" id="settingsForm">
                <div class="settings-block line-right">
                  {{user_form.errors}}
                  {{user_profile_form.errors}}
                  <div class="form-group">
                    <label>Username</label>
                    {{user_form.username}}
                  </div>
                  <div class="form-group">
                    <label>E-mail</label>
                    {{user_form.email}}
                  </div>
                  <div class="form-group">
                    <label>Date of Birth</label>
                    {{user_profile_form.birthday}}
                  </div>
                  <div class="form-group">
                    <label>Country</label>
                    {{user_profile_form.country}}
                  </div>
                  <div class="form-group">
                    <label>City</label>
                    {{user_profile_form.city}}
                  </div>
                  <div class="form-group">
                    <label>Language</label>
                    {{user_profile_form.language}}
                  </div>
                  <div class="form-group">
                    <label>Password (leave blank unless changing)</label>
                    <input type="password" name="password" class="form-control" placeholder="" id="password">
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" name="password" class="form-control" placeholder="" id="confirm_password">
                  </div>
                  {% csrf_token %}
                  <!-- <div class="form-group">
                    <label>Custom URL</label>
                    <input type="text" class="form-control" placeholder="famemusic.com/madeon">
                  </div> -->
                  <div class="form-btn"> <a href="#" class="btn btn-cancel">CANCEL</a> <a href="#" class="btn btn-green" id="settingsSave">SAVE</a> </div>
                </div>
              </form>
            </div>
            <div class="col-sm-6">
              <div class="proplan-active-container">
                <h3 class="pro-plan-active-title"> <span class="icon-check grn-check"></span> Pro Plan Active</h3>
                <p class="pro-active-plan"> You currently have a <span class="pro-plan-txt">Pro Plan</span> account.<br />
                  It will be renewed <span class="date"> 24th of May 2015</span>. <br />
                  This plan includes: </p>
                <ul class="checklist checklist-grn">
                  <li>Free whatever forever and ever</li>
                  <li>God mode</li>
                  <li>Super insights!</li>
                  <li>Win all the competitions without having event to take part to thhem</li>
                </ul>
                <a href="#" class="btn btn-grn-bdr">UNSUBSCRIBE</a></div>
            </div>
          </div>
        </div>
        <h4>Notification Settings</h4>
        <div class="frame">
          <div class="row">
            <div class="col-sm-6">
              <div style="padding:10px 40px">
                <div class="form-group notif">
                  <div class="notif-label">Notification 1</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Notification 3</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Notification 3</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Notification 4</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Notification 5</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Notification 6</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Notification 7</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-btn"> <a href="#" class="btn btn-cancel">CANCEL</a> <a href="#" class="btn btn-green">SAVE</a> </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="padding:10px 40px">
                <div class="form-group notif">
                  <div class="notif-label">Mail 1</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Mail 3</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Mail 3</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Mail 4</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Mail 5</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Mail 6</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
                <div class="form-group notif">
                  <div class="notif-label">Mail 7</div>
                  <input type="checkbox" data-label=""  class="pull-right myClass" name="checkbox" id="checkbox1" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block extra-script %}
<script src="{% static "js/prettyCheckable.min.js" %}"></script> 
<script>
$().ready(function(){
$('.myClass').prettyCheckable();
  function returnValidated() {
    $(".has-error").removeClass("has-error");
    if (!$("#password").val().length) {
      return true;
    }
    if ($("#password").val() === $("#confirm_password").val() && $("#password").val().length > 5) {
      return true;
    }
    $("#password").parents(".form-group").addClass("has-error");
    $("#confirm_password").parents(".form-group").addClass("has-error");
    return false;
  }
  $("#settingsSave").click(function() {
    if (returnValidated()) {
      $("#settingsForm").submit();
    }
  });
});
</script>
{% endblock extra-script %}