{% load static from staticfiles %}
{% block extrahead %}
    <link href="{% static 'css/bootstrap-select.css' %}" rel="stylesheet">
{% endblock %}
<div class="modal-body">
    <h3>Add track to playlist</h3>
    <form role="form" action="{% url 'add_to_playlist' track_id=audio.id %}" id="add_to_playlist_form" method="post">
        <br />
        <div class="form-group has-info relative">
        <p style="color: #f10950;" id="playlist_error"></p>

            {% if lists %}
                <label>Choose a playlist</label>
                <select class="selectpicker  form-control" data-style="btn-select" name="playlist_name">
                    {% for l in lists %}
                        <option value="{{ l.id }}">{{ l.title }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-btn"><a href="#" class="btn btn-cancel">CANCEL</a><a href="#" onclick="return false" class="btn btn-blue" id="connect_to_playlist">CONNECT</a></div>
            {% else %}
                <div class="form-btn"><a href="#" id="create_list_lnk" class="btn btn-blue">CREATE PLAYLIST</a></div>
            {% endif %}
        {#        </div>#}

    </form>
</div>
{% block extra-script %}
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>

<script>
    $('.selectpicker').selectpicker();
    $('#create_list_lnk').on('click', function(){
        $('#upload_music_modal').modal('hide');
        $('#create_playlist_lnk').trigger('click');
    });
</script>
{% endblock %}