{% load static from staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "assets/css/html5imageupload.css" %}"/>
    <script src="{% static 'assets/js/html5imageupload.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <link href="{% static 'css/bootstrap-select.css' %}" rel="stylesheet">
{% endblock %}

<div class="modal-body">
    <h3>Create New Playlist</h3>
    <form role="form" action="{% url 'add_playlist' %}" method="post" id="playlist_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-4">
                <div class="track-thumb upload-track-thumb"> <a href="#" class="btn btn-blue btn-sm"> UPLOAD AN IMAGE</a>
                    <p>or DRAG AND DROP</p>
                    {{ form.cover }}
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Title</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="id_artist">Artist</label>
                    {{ form.artist }}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="id_privacy">privacy</label>
                            {{ form.privacy }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="id_genre">Genre</label>
                            {{ form.genre }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Description</label>
                    {{ form.description }}
                </div>
            </div>
        </div>
        <div class="form-btn"><a href="#" data-dismiss="modal" data-target="#upload_music_modal" class="btn btn-cancel">CANCEL</a> <a href="#" class="btn btn-blue" id="create_playlist">CREATE</a></div>
    </form>
</div>
<script>
    $('#create_playlist').on('click', function () {
        $('#playlist_form').ajaxSubmit({
            success: function(data){
                if (data.success) {
                    $('#upload_music_modal').modal('hide');
                    window.location.href = "/profile/";
                } else {
                    console.log('error')
                }
            }
        });
    });
    $('.selectpicker').selectpicker();
</script>
