{% load static from staticfiles %}
{% load thumbnail %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "assets/css/html5imageupload.css" %}"/>
    <link href="{% static 'css/bootstrap-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}

<div class="modal-body">
    <h3>Edit the track</h3>
    <form role="form" action="{% url 'edit_audio' object_id=object_id %}" method="post" id="edit_audio_form">
        {% csrf_token %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <div class="row">
            <div class="col-sm-4">
                <div class="track-thumb upload-track-thumb dropzone" data-width="165" data-height="165" data-resize="true" data-url="{% url 'playlist_cover' %}" > <a href="#" class="btn btn-blue btn-sm" style="position: relative !important;"> UPLOAD AN IMAGE</a>
                    <p style="position: relative !important;">or DRAG AND DROP</p>
                    <input type="file" name="cover" id="id_cover" />
                    {% thumbnail form.instance.cover "200x200" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive"  style="position: absolute; top: 0;">
                    {% endthumbnail %}
                </div>

            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Title</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label>Artist</label>
                    {{ form.artist }}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Track Type</label>
                            {{ form.type }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Genre</label>
                            {{ form.genre }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Description</label>
                    {{ form.description }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>BPM</label>
                    {{ form.bpm }}
                </div>
              <div class="form-group">
                <label>Privacy</label>
                {{ form.privacy }}
              </div>
            </div>
        </div>
        <div class="form-btn clearfix">
            <button type="submit" class="btn btn-default btn-cancel" onclick="return false">CANCEL</button>
            <button type="submit" class="btn btn-default btn-blue" id="update_audio" onclick="return false">UPDATE</button>
        </div>
    </form>
</div>

{% block extra-script %}
    <script src="{% static 'assets/js/html5imageupload.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>

<script>
    $('.dropzone').html5imageupload();
    $('.selectpicker').selectpicker();
</script>

{% endblock %}