{% if size == "large" %}
    {% if display == "profile" %}
    <div class="hover-frame" style="display: none">
        <div class="hover-frame-contaiiner">
            <div class="hover-frame-cell"> <a href="{% url 'edit_audio' object_id=audio.id %}" data-toggle="modal" data-target="#upload_music_modal" class="btn btn-bdr-white"> Change Track</a> </div>
        </div>
    </div>
    {% endif %}
    <div class="pro-overview-thumb" style="overflow-y: hidden"><img src="{{ MEDIA_URL }}{{ audio.cover }}"  class="img-responsive" alt=""></div>
    <div class="music-track-block modal-music">
        <h4>{{ audio.name }}</h4>
        <p><span>{{ audio.artist }}</span></p>
        <ul class="pl-counts">
            <li><span class="likes"></span>1356</li>
            <li><span class="plays"></span>2594</li>
            <li><span class="counts"></span>03:45</li>
        </ul>
        <div class="track-info track-info-profile hidden-xs">
            <ul class="pl-opt">
                <li><a href="#" class="pl-icons like {{liked_audio}}">like</a></li>
                <li><a href="#" class="pl-icons comment">Comments</a></li>
                <li><a href="#" class="pl-icons music">Music</a></li>
                <li><a href="#" class="pl-icons share">Share</a></li>
            </ul>
        </div>
    </div>
{% else %}
<div class="music-overview-block music_box">
    <div class="playlist-thumb-hover" style="display: none">
        <ul class="pl-list">
            <li><a href="#" class="heart">ddd</a></li>
            <li><a href="#" class="comment">ddd</a></li>
            <li><a href="{% url 'add_to_playlist' track_id=audio.id %}" data-toggle="modal" data-target="#upload_music_modal" class="playlist-play">ddd</a></li>
            <li><a href="#" class="share">ddd</a></li>
        </ul>
        <div class="play-pl-cont"> <a href="{% url 'trackcard' track_id=audio.id %}" class="play-pl" data-toggle="modal" data-target="#trackcard">Play</a> </div>
        <div class="hover-title">
            <h5>{{ audio.name }}</h5>
            <span class="subtxt">{{ audio.artist }}</span> </div>
    </div>
<img src="{{ MEDIA_URL }}{{ audio.cover }}" class="img-responsive" alt=""> </div>
{% endif %}