{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}
{% block body-class %} ng-app="ConnectionApp"{% endblock body-class %}
{% block app-controller %} ng-controller="MainCtrl"{% endblock app-controller %}
{% block header %}
<div class="nav-top blue-bg mobnav">
    <ul>
      <li class="hidden-xs">CONNECTIONS</li>
      <li class="pull-left"><a id="left-menu" href="#left-menu" class="menu-icon">menu</a></li>
      <li class="pull-right"><a id="right-menu" href="#right-menu" class="dashboard-icon">Dashboard menu</a></li>
    </ul>
</div>
{% endblock header %}
{% block content %}
    <div class="content profile-bg-blue see-artist-page">
        <h2 class="title">Your Connections</h2>
        <div class="search-filter-nav">
          <ul>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='checkbox'> Pop</label></div><div class='checkbox'><label><input type='checkbox'> Rock</label></div><div class='checkbox'><label><input type='checkbox'> Rap</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">genres <span class="caret"></span></a></li>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='radio' name='popular'> Most popular today</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular this week</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular month</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular all time</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">popularity <span class="caret"></span></a></li>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='checkbox'> France</label></div><div class='checkbox'><label><input type='checkbox'> Italy</label></div><div class='checkbox'><label><input type='checkbox'> Spain</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">country <span class="caret"></span></a> </li>
          </ul>
        </div>
        <div class="artists-search-section">
          <div class="row">
          {% verbatim %}
            <div class="col-sm-2 pad5" ng-repeat="connection in connections">
              <div class="music-overview-block widget-pro"><img src="/static/images/artist-profile-bg.png" class="img-responsive"  alt="">
                <div  class="profile-head" style=" position:relative">
                  <div class="profile-pic">
                      <img src="{{connection.picture_200}}" class="img-responsive img-circle" >
                  </div>
                  <div class="profile-circle-img">
                    <div class="profile-circle"></div>
                  </div>
                  <h3>{{connection.display_name}}</h3>
                  <p>Artist</p>
                </div>
                <div class="profile-view-bar"> <a href="/artists/{{connection.user}}" class="btn btn-sm btn-blue">View More</a> </div>
              </div>
          </div>
            {% endverbatim %}
            </div>
      </div>
      <div class="pagination-wrapper paging">
    <pagination class="pagination-ch"
                            total-items="totalConnectionsCount"
                            items-per-page="maxConnectionsPerPage"
                            ng-model="connectionsCurrPage"
                            ng-change="loadConnections()"
                            num-pages="pageCount"
                            max-size="maxPages"
                            rotate="false"
                            boundary-links="true"
                            ng-show="pageCount > 1"
        ></pagination>
    </div>
    </div>
{% endblock %}

{% block extra-script %}
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script src="{% static 'bower_components/lodash/lodash.min.js' %}"></script>
<script src="{% static 'js/connections-app.js' %}"></script>
<script src="{% static 'js/connections.factory.js' %}"></script>
<script src='{% static "audioplayer/audioplayer.js" %}' type="text/javascript"></script>
<link rel='stylesheet' type="text/css" href="{% static 'audioplayer/audioplayer.css' %}"/>
    <script defer src="{% static "js/jquery.flexslider.js" %}"></script>

    <script>
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                direction: "top",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
{% endblock extra-script %}