{% extends "base.html" %}
{% load static from staticfiles %}
{% block sidebar-left %}{% endblock %}
{% block sidebar-right %}{% endblock %}
{% block header %}{% endblock %}
{% block extra-script %}
    <script src="{% static 'js/registration.js' %}"></script>
    <script src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <link href="{% static 'datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <script>
        $('#id_birthday').datepicker({
            format: "yyyy-mm-dd"
        });
        $('.dropzone').html5imageupload();
    </script>

{% endblock %}

{% block content %}

    <div class="modal modal-absolute" style="display:block;">
        <div class="modal-dialog fame-music-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="{{ form_action }}" method="post" id="reg_step_2">
                        {% csrf_token %}

                        <div id="reg_step_2_1">
                            <div class="fame-music-logo-block">
                                <h3 class="fame-music-logo">Fame Music</h3>
                            </div>
                            <label for="exampleInputEmail1" id="error">Choose an account type</label>
                            {% for radio in form.account_type %}
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ radio }}
                                    </div>
                                </div>
                            {% endfor %}
                            <br />
                            <div id="reg_semistep_submit_div" class="text-center progress-button block-btn" style="margin-top:20px">
                                <button onclick="return false" id="reg_semistep">Continue</button>
						        <svg class="progress-circle" width="70" height="70"><path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/></svg>
						        <svg class="checkmark" width="70" height="70"><path d="m31.5,46.5l15.3,-23.2"/><path d="m31.5,46.5l-8.5,-7.1"/></svg>
						        <svg class="cross" width="70" height="70"><path d="m35,35l-9.3,-9.3"/><path d="m35,35l9.3,9.3"/><path d="m35,35l-9.3,9.3"/><path d="m35,35l9.3,-9.3"/></svg>
                            </div>
                            <p class="go-back-block"></p>
                        </div>

                        {# second step #}
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                        <div id="reg_step_2_2" style="display: none">
                            <div class="fame-music-logo-block">
                                <form action="" method="post">
                                <div class="drad-drop-picture dropzone" style="margin-left: 80px;" data-width="170" data-height="170" data-resize="true">DRAG AND DROP<br/>
                                    your <br/>
                                    profile picture
                                    <input type="file" name="picture" id="id_picture" />
                                </div>
                                </form>

                            </div>
                            <div class="form-group">
                                <label for="id_display_name">Display Name</label>
                                {{ form.display_name }}
                            </div>
                            <div class="form-group date">
                                <label for="exampleInputEmail1">Date of birth</label>
                                {{ form.birthday }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Country</label>
                                {{ form.country }}
                            </div>
                            <br />
                            <div id="finish_registration_div" class="text-center progress-button block-btn" style="margin-top:20px">
                                <button onclick="return false" id="finish_registration">Continue</button>
						        <svg class="progress-circle" width="70" height="70"><path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/></svg>
						        <svg class="checkmark" width="70" height="70"><path d="m31.5,46.5l15.3,-23.2"/><path d="m31.5,46.5l-8.5,-7.1"/></svg>
						        <svg class="cross" width="70" height="70"><path d="m35,35l-9.3,-9.3"/><path d="m35,35l9.3,9.3"/><path d="m35,35l-9.3,9.3"/><path d="m35,35l9.3,-9.3"/></svg>
                            </div>
                            <p class="go-back-block"><a href="#" id="to_step_2_1" >&lt;&lt; Go Back</a></p>
                        </div>

                    </form>



                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}
<script>
    $('.dropzone').html5imageupload();
</script>
{% block footer %}{% endblock %}