{% extends "base.html" %}
{% load static from staticfiles  %}
{% block sidebar-left %}{% endblock %}
{% block sidebar-right %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}

    <div class="modal modal-absolute" style="display:block;">
        <div class="modal-dialog fame-music-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="fame-music-logo-block">
                        <div class="drag-drop-pic-holder pic-circle"><img src="{{ MEDIA_URL }}{{ user.picture }}" class="img-responsive" alt=""></div>
                    </div>
                    <p class="hey-txt">Hey
                        {% if user.display_name %}
                            {{ user.display_name }}
                        {% else %}
                            {{ user.artist_name }}
                        {% endif %}
                    </p>
                    {% if user.account_type != '1' %}
                        <div class="welcome-txt-block">
                            <p> Welcome to Fame Music,
                                the best bla bla bla bla.
                                Bla bla bla bla bla bla</p>
                            <p>Share this amazing news
                                with your friends!</p>
                        </div>
                        <br />
                        <div class="text-center">
                            <a href="https://www.facebook.com/sharer/sharer.php?sdk=joey&u=http://test.com/{{ user.display_name }}&display=popup&ref=plugin&src=share_button" target="_blank" class="btn  pbtn">SHARE</a>
                        </div>
                    {% else %}
                        <div class="welcome-txt-block">
                            <p>Welcome to Fame Music,
                                the best bla bla bla bla.
                                Bla bla bla bla bla bla </p>
                            <p>Start now and upload your first track!</p>
                        </div>
                        <br />
                        <div class="text-center">
                            <button type="submit" class="btn  pbtn">UPLOAD</button>
                        </div>
                    {% endif %}
                    <p class="go-back-block"><a href="{% url 'profile' %}">SKIP &gt;&gt;</a></p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block footer %}{% endblock %}