{% extends "base.html" %}
{% block sidebar-left %}{% endblock %}
{% block sidebar-right %}{% endblock %}
{% block header %}{% endblock %}
{% load static from staticfiles %}
{% block title %}Login{% endblock title %}
{% block extrahead %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <link href="{% static 'css/bootstrap-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="modal modal-absolute" style="display:block;" id="login_modal_step1">
        <div class="modal-dialog fame-music-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="fame-music-logo-block">
                        <h3 class="fame-music-logo">Fame Music</h3>
                    </div>
                    <div>
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn facebook-btn"><i class="fa fa-facebook-official"></i> <span class="fbtxt">SIGN UP WITH FACEBOOK</span>
                        </a>

                        <div style="display: none" id="social_networks">

                            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook" style="color: #ffffff;">
                                <i class="fa fa-facebook"></i> SIGN UP WITH FACEBOOK
                            </a>

                            <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-social btn-twitter" style="color: #ffffff;">
                                <i class="fa fa-twitter"></i> SIGN UP WITH TWITTER
                            </a>
                            <a href="{% url 'social:begin' 'dropbox-oauth2' %}" class="btn btn-block btn-social btn-dropbox" style="color: #ffffff;">
                                <i class="fa fa-dropbox"></i> SIGN UP WITH DROPBOX
                            </a>
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google" style="color: #ffffff;">
                                <i class="fa fa-google"></i> SIGN UP WITH GOOGLE
                            </a>
                            <a href="{% url 'social:begin' 'instagram' %}" class="btn btn-block btn-social btn-instagram" style="color: #ffffff;">
                                <i class="fa fa-instagram"></i> SIGN UP WITH INSTAGRAM
                            </a>
                            <a href="{% url 'social:begin' 'soundcloud' %}" class="btn btn-block btn-social btn-soundcloud" style="color: #ffffff;">
                                <i class="fa fa-soundcloud"></i> SIGN UP WITH SOUNDCLOUD
                            </a>
                            <a href="{% url 'social:begin' 'vimeo-oauth2' %}" class="btn btn-block btn-social btn-vimeo" style="color: #ffffff;">
                                <i class="fa fa-vimeo"></i> SIGN UP WITH VIMEO
                            </a>


                        </div>
                        <p class="or-txt">OR</p>

                        <p>Subscribe with your <a href="{% url 'register' %}">e-mail address</a></p>
                        <p class="terms">If you “Sign Up with Facebook” and you are not a Fame Music user, you will be automatically registered and you agree to the Fame Music <a href="{% url 'terms' %}" target="_blank">Terms / Conditions</a> and <a href="#">Privacy Policy</a>.</p>
                        <p class="signin"> Do you have an account? <a href="#">Sign In</a></p>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="login_modal" class="modal modal-absolute">
      <div class="modal-dialog fame-music-modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="fame-music-logo-block">
              <h3 class="fame-music-logo">Fame Music</h3>
            </div>
            <div> <a href="{% url 'social:begin' 'facebook' %}" class="btn facebook-btn"><i class="fa fa-facebook-official"></i> <span class="fbtxt">SIGN UP WITH FACEBOOK</span></a>
              <p class="or-txt">OR</p>

              <div>
                <form action="{% url 'login' %}" method="post" id="login_form">
                    {% csrf_token %}
                  <div class="form-group">
                      <p id="errors" style="color: #f10950"></p>
                    <div class="input-group"> <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-user"></i></span>
                      <input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-lock"></i></span>
                      <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                  </div>
                  <p><a href="{% url 'password_reset' %}">Did you forget the password? </a></p>
                  <div class="text-center" style="padding-bottom:25px"><a href="#" id="log_in" class="btn pbtn"> LOG IN</a> </div>

                  <p class="signin"> Do you have an account? <a href="{% url 'register' %}">Sign Up</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <script>
    $(function() {


        $('.signin').on('click',function(){
            $('#login_modal').show();
            $('#login_modal_step1').hide();
        });

        $('#log_in').on('click', function(){
            $('#login_form').ajaxSubmit({
                success: function(data){
                    if (data.success){
                        window.location.href = "/profile/";
                        console.log(data.msg)
                    } else {
                        $('#errors').text(data.msg);
                        console.log(data.msg)
                    }
                },
                dataType: 'json'
            });
        });
{#        $('.facebook-btn').on('click', function() {#}
{#            $(this).hide();#}
{#            $('#social_networks').slideDown();#}
{#        });#}
        $('.selectpicker').selectpicker();
        });
    </script>

{% endblock %}

{% block footer %}{% endblock %}