{% extends "base.html" %}
{% load static from staticfiles %}
{% block sidebar-left %}{% endblock %}
{% block sidebar-right %}{% endblock %}
{% block header %}{% endblock %}
{% block extra-script %}
    <script src="{% static 'js/registration.js' %}"></script>
    <script src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <link href="{% static 'datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "assets/css/html5imageupload.css" %}"/>
    <script src="{% static 'assets/js/html5imageupload.min.js' %}"></script>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <script>
        $('#id_birthday').datepicker({
            format: "yyyy-mm-dd"
        });
        $('.dropzone').html5imageupload();
    </script>

{% endblock %}

{% block content %}

    <div class="modal modal-absolute" style="display:block;">
        <div class="modal-dialog fame-music-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="{{ form_action }}" method="post" id="reg_step_2">
                        {% csrf_token %}

                        <div id="reg_step_2_1">
                            <div class="fame-music-logo-block">
                                <h3 class="fame-music-logo">Fame Music</h3>
                            </div>
                            <label for="exampleInputEmail1" id="error">Choose an account type</label>
                            {% for radio in form.account_type %}
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ radio }}
                                    </div>
                                </div>
                            {% endfor %}
                            <br />
                            <div class="text-center">
                                <button type="submit" class="btn  pbtn" onclick="return false" id="reg_semistep">Continue</button>
                            </div>
                            <p class="go-back-block"></p>
                        </div>

                        {# second step #}
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                        <div id="reg_step_2_2" style="display: none">
                            <div class="fame-music-logo-block">
                                <div class="drad-drop-picture dropzone" style="margin-left: 80px;" data-width="165" data-height="165" data-resize="true">DRAG AND DROP<br/>
                                    your <br/>
                                    profile picture
                                    <input type="file" name="picture" id="id_picture" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="id_display_name">Display Name</label>
                                {{ form.display_name }}
                            </div>
                            <div class="form-group date">
                                <label for="exampleInputEmail1">Date of birth</label>
                                {{ form.birthday }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Country</label>
                                {{ form.country }}
                            </div>
                            <br />
                            <div class="text-center">
                                <button type="submit" class="btn  pbtn" id="finish_registration" onclick="return false">Continue</button>
                            </div>
                            <p class="go-back-block"><a href="#" id="to_step_2_1" >&lt;&lt; Go Back</a></p>
                        </div>

                    </form>



                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

{% block footer %}{% endblock %}