{% extends "base.html" %}
{% load static from staticfiles %}

{% block header %}
    <!--Start: Header-->
    
      <div class="nav-top blue-bg mobnav">
        <ul>  
       <li class="hidden-xs">SEARCH</li>
         <li class="pull-left"><a id="left-menu" href="#left-menu" class="menu-icon">menu</a></li>
         <li class="pull-right"><a id="right-menu" href="#right-menu" class="dashboard-icon">Dashboard menu</a></li>
        </ul>
      </div>
      <!--End: Header-->

{% endblock header %}
{% block content %}
<div class="content profile-bg-blue search-filter-page">
        
        

<div class="search-filter-nav">
<ul>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='checkbox'> Pop</label></div><div class='checkbox'><label><input type='checkbox'> Rock</label></div><div class='checkbox'><label><input type='checkbox'> Rap</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">genres <span class="caret"></span></a></li>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='radio' name='popular'> Most popular today</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular this week</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular month</label></div><div class='checkbox'><label><input type='radio' name='popular'> Most popular all time</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">popularity <span class="caret"></span></a></li>
            <li><a href="#" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<ul><div class='checkbox'><label><input type='checkbox'> France</label></div><div class='checkbox'><label><input type='checkbox'> Italy</label></div><div class='checkbox'><label><input type='checkbox'> Spain</label></div></ul><button id='filterGenre' class='btn btn-blue'>Filter</button>">country <span class="caret"></span></a> </li>
          </ul>
</div>

<div class="artists-search-section">





<div class="row"><h3>Artists</h3>

<div class="col-sm-2 pad5"><div class="music-overview-block widget-pro"><img src="{% static "images/artist-profile-bg.png" %}" class="img-responsive"  alt="">
            
            
            <div  class="profile-head" style=" position:relative">
          <div class="profile-pic"><img src="{% static "images/profile-pic2.png" %}" class="img-responsive img-circle"  alt=""></div>
          
          <div class="profile-circle-img">
          
          <div class="profile-circle"></div>
          
          </div>
          
          <h3>Martin Scotner</h3>
          <p>Artist</p>
         
        </div>
            
            
            <div class="profile-view-bar">
            
              <a href="#" class="btn btn-sm btn-green">View More</a> </div>
              
              
              
            </div></div>
            
            <div class="col-sm-2 pad5"><div class="music-overview-block widget-pro"><img src="{% static "images/artist-profile-bg.png" %}" class="img-responsive"  alt="">
            
            
            <div  class="profile-head" style=" position:relative">
          <div class="profile-pic"><img src="{% static "images/profile-pic2.png" %}" class="img-responsive img-circle"  alt=""></div>
          
          <div class="profile-circle-img">
          
          <div class="profile-circle"></div>
          
          </div>
          
          <h3>Martin Scotner</h3>
          <p>Artist</p>
         
        </div>
            
            
            <div class="profile-view-bar">
            
              <a href="#" class="btn btn-sm btn-green">View More</a> </div>
              
              
              
            </div></div>
            
            <div class="col-sm-2 pad5"><div class="music-overview-block widget-pro"><img src="{% static "images/artist-profile-bg.png" %}" class="img-responsive"  alt="">
            
            
            <div  class="profile-head" style=" position:relative">
          <div class="profile-pic"><img src="{% static "images/profile-pic2.png" %}" class="img-responsive img-circle"  alt=""></div>
          
          <div class="profile-circle-img">
          
          <div class="profile-circle"></div>
          
          </div>
          
          <h3>Martin Scotner</h3>
          <p>Artist</p>
         
        </div>
            
            
            <div class="profile-view-bar">
            
              <a href="#" class="btn btn-sm btn-green">View More</a> </div>
              
              
              
            </div></div>
            
            <div class="col-sm-2 pad5"><div class="music-overview-block widget-pro"><img src="{% static "images/artist-profile-bg.png" %}" class="img-responsive"  alt="">
            
            
            <div  class="profile-head" style=" position:relative">
          <div class="profile-pic"><img src="{% static "images/profile-pic2.png" %}" class="img-responsive img-circle"  alt=""></div>
          
          <div class="profile-circle-img">
          
          <div class="profile-circle"></div>
          
          </div>
          
          <h3>Martin Scotner</h3>
          <p>Artist</p>
         
        </div>
            
            
            <div class="profile-view-bar">
            
              <a href="#" class="btn btn-sm btn-green">View More</a> </div>
              
              
              
            </div></div>
            
            <div class="col-sm-2 pad5"><div class="music-overview-block widget-pro"><img src="{% static "images/artist-profile-bg.png" %}" class="img-responsive"  alt="">
            
            
            <div  class="profile-head" style=" position:relative">
          <div class="profile-pic"><img src="{% static "images/profile-pic2.png" %}" class="img-responsive img-circle"  alt=""></div>
          
          <div class="profile-circle-img">
          
          <div class="profile-circle"></div>
          
          </div>
          
          <h3>Martin Scotner</h3>
          <p>Artist</p>
         
        </div>
            
            
            <div class="profile-view-bar">
            
              <a href="#" class="btn btn-sm btn-green">View More</a> </div>
              
              
              
            </div></div>
            
            <div class="col-sm-2 pad5"><div class="music-overview-block widget-pro"><img src="{% static "images/artist-profile-bg.png" %}" class="img-responsive"  alt="">
            
            
            <div  class="profile-head" style=" position:relative">
          <div class="profile-pic"><img src="{% static "images/profile-pic2.png" %}" class="img-responsive img-circle"  alt=""></div>
          
          <div class="profile-circle-img">
          
          <div class="profile-circle"></div>
          
          </div>
          
          <h3>Martin Scotner</h3>
          <p>Artist</p>
         
        </div>
            
            
            <div class="profile-view-bar">
            
             <a href="#" class="btn btn-sm btn-green">View More</a> </div>
              
              
              
            </div></div>

</div>





</div>


<div class="competition-search-section">

<div class="row">
<h3>Competitions</h3>

<div class="col-sm-4 pad5">

            <div class="current-comp-container">
              <div class="img-wrap"> <img src="{% static "images/small-banner.png" %}"  class="img-responsive" alt=""> <span class="badge-wrap"><a href="#"><img src="{% static "images/budge.png" %}" width="31" height="32" alt=""></a></span> <span class="slogan-wrap">The World Electronic Music Contest<br/>
                comes to France!</span> </div>
              <ul class="com-bottom">
                <li><img src="{% static "images/music.png" %}" alt=""/> <a href="#">ELECTRONIC</a><br/>
                  <img src="{% static "images/location-icon.png" %}"  alt=""/> <a href="#">France</a></li>
                <li><a href="#" class="view-more">View More</a></li>
                <li>SUBMISSION OPEN<br/>
                  <time>00:54:14:12</time>
                </li>
              </ul>
            </div>
          
</div>

<div class="col-sm-4 pad5">

            <div class="current-comp-container">
              <div class="img-wrap"> <img src="{% static "images/small-banner.png" %}" class="img-responsive"  alt=""> <span class="badge-wrap"><a href="#"><img src="{% static "images/budge.png" %}" width="31" height="32" alt=""></a></span> <span class="slogan-wrap">The World Electronic Music Contest<br/>
                comes to France!</span> </div>
              <ul class="com-bottom">
                <li><img src="{% static "images/music.png" %}" alt=""/> <a href="#">ELECTRONIC</a><br/>
                  <img src="{% static "images/location-icon.png" %}"  alt=""/> <a href="#">France</a></li>
                <li><a href="#" class="view-more">View More</a></li>
                <li>SUBMISSION OPEN<br/>
                  <time>00:54:14:12</time>
                </li>
              </ul>
            </div>

</div>

<div class="col-sm-4 pad5">

            <div class="current-comp-container">
              <div class="img-wrap"> <img src="{% static "images/small-banner.png" %}" class="img-responsive"  alt=""> <span class="badge-wrap"><a href="#"><img src="{% static "images/budge.png" %}" width="31" height="32" alt=""></a></span> <span class="slogan-wrap">The World Electronic Music Contest<br/>
                comes to France!</span> </div>
              <ul class="com-bottom">
                <li><img src="{% static "images/music.png" %}" alt=""/> <a href="#">ELECTRONIC</a><br/>
                  <img src="{% static "images/location-icon.png" %}"  alt=""/> <a href="#">France</a></li>
                <li><a href="#" class="view-more">View More</a></li>
                <li>SUBMISSION OPEN<br/>
                  <time>00:54:14:12</time>
                </li>
              </ul>
            </div>
    
</div>



</div>

</div>

<div class="tracks-search-section">

<div class="row">

<h3>Tracks</h3>

<div class="col-sm-2 col-xs-6 pad5"><div class="tracks-search-thumb"><a href="#"><img src="{% static "images/tracks-img1.jpg" %}" class="img-responsive" alt=""></a></div></div>

<div class="col-sm-2 col-xs-6 pad5"><div  class="tracks-search-thumb"><a href="#"><img src="{% static "images/tracks-img2.jpg" %}" class="img-responsive" alt=""></a></div></div>

<div class="col-sm-2 col-xs-6 pad5"><div  class="tracks-search-thumb"><a href="#"><img src="{% static "images/tracks-img1.jpg" %}" class="img-responsive" alt=""></a></div></div>

<div class="col-sm-2 col-xs-6 pad5"><div  class="tracks-search-thumb"><a href="#"><img src="{% static "images/tracks-img2.jpg" %}" class="img-responsive" alt=""></a></div></div>

<div class="col-sm-2 col-xs-6 pad5"><div  class="tracks-search-thumb"><a href="#"><img src="{% static "images/tracks-img1.jpg" %}" class="img-responsive" alt=""></a></div></div>

<div class="col-sm-2 col-xs-6 pad5"><div  class="tracks-search-thumb"><a href="#"><img src="{% static "images/tracks-img2.jpg" %}" class="img-responsive" alt=""></a></div></div>

</div>




</div>

        
      </div>
      
      <!--Start: Bannner--> 
{% endblock content %}