{% extends "base.html" %}
{% load static from staticfiles  %}

{% block header %}
<div class="nav-top blue-bg mobnav">
      <div class="back-icon-headbar hidden-xs"><a href="#"><i class="fa fa-chevron-circle-left fa-4"></i></a></div>
        <ul>  
         <li class="pull-left"><a id="left-menu" href="#left-menu" class="menu-icon">menu</a></li>
         <li class="pull-right"><a id="right-menu" href="#right-menu" class="dashboard-icon">Dashboard menu</a></li>
        </ul>
      </div>
{% endblock header %}
{% block content %}
<div class="content faq-bg">
        
        
    
<div class="row terms-block">
<div class="col-sm-9">


<h3>Terms &amp; Conditions</h3>


A.<br />
B.<br />
C.<br />
D.<br />
E.<br />
F.<br />


</div>

<div class="col-sm-3 side-search-terms">


    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><img src="images/search-faq.png" width="14" height="14" alt="">
        </button>
      </span>
    
  </div>
  
<h4 style="padding:20px 0 0px 0">RELATED SECTIONS</h4>

<ul>
<li><a href="#">Section 1</a></li>
<li><a href="#">Section 2</a></li>
<li><a href="#">Section 3</a></li>
<li><a href="#">Section 4</a></li>
<li><a href="#">Section 5</a></li>
<li><a href="#">Section 6</a></li>
<li><a href="#">Section 7</a></li>
<li><a href="#">Section 8</a></li>
<li><a href="#">Section 9</a></li>
<li><a href="#">Section 10</a></li>
<li><a href="#">Section 11</a></li>
<li><a href="#">Section 12</a></li>
</ul>





</div>

 </div>
        
        
     
      
      <!--Start: Bannner--> 
      
    </div>
{% endblock content %}