{% load static from staticfiles %}
{% block extrahead %}
    <script src="{% static 'js/competition.js' %}"></script>
    <script src="{% static 'assets/js/html5imageupload.min.js' %}"></script>

    <link rel="stylesheet" href="{% static "assets/css/html5imageupload.css" %}"/>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

{% endblock %}

{# first step #}
<div class="modal-body share-profile" id="competition_step1"><a href="#" class="close-icon">close</a>
    <div class="enter-competition">
        <div class="steps-count">
            <div class="line"></div>
            <ul>
                <li class="active"><a href="#"><span class="cricle">1</span>Enter Competition</a></li>
                <li><a href="#"><span class="cricle">2</span>Upload A Track</a></li>
                <li><a href="#"><span class="cricle">3</span>Add a Video</a></li>
                <li><a href="#"><span class="cricle">4</span>Review</a></li>
                <li><a href="#"><span class="cricle">5</span>Success</a></li>
            </ul>
        </div>
        <h4>{{ competition.name }}</h4>
        <div class="wemc-img"><img src="{{ MEDIA_URL }}{{ competition.competition_page_image }}"  class="img-responsive img-rounded"  alt=""></div>
        <h5>About {{ competition.name }}</h5>
        <p>{{ competition.competition_page_description }}</p>
        <div class="form-btn"><a href="javascript:void(0)" class="btn btn-cancel" id="cancel">CANCEL</a><a href="javascript:void(0)" class="btn btn-pink" id="to-2-step">NEXT</a></div>
    </div>
</div>

{# second step #}
<div class="modal-body share-profile" id="competition_step2" style="display: none">
    <a href="#" class="close-icon">close</a>
    <div class="enter-competition">
        <div class="steps-count">
            <div class="line">
                <div class="step2-filled" style="width:25%"></div>
            </div>
            <ul>
                <li class="active"><a href="#"><span class="cricle">1</span>Enter Competition</a></li>
                <li  class="active"><a href="#"><span class="cricle">2</span>Upload A Track</a></li>
                <li><a href="#"><span class="cricle">3</span>Add a Video</a></li>
                <li><a href="#"><span class="cricle">4</span>Review</a></li>
                <li><a href="#"><span class="cricle">5</span>Success</a></li>
            </ul>
        </div>
        <h3>Pick a track you wish to use</h3>
            <div class="upload-track-full">
                <div class="drad-here-holder"><a href="javascript:void(0)" class="btn btn-bdr-red">UPLOAD A TRACK</a>

                <form action="{% url 'add_audio_step1' %}" method="post" enctype="multipart/form-data" id="form_upload_step1">
                    {% csrf_token %}
                    <input type="file" name="audio" id="id_audio" class="upload_field"/>
                </form>

{#                            <p>or DRAG AND DROP</p>#}
                </div>
            </div>
            <div class="import-links clearfix">
                <h5><a href="javascript:void(0)"  id="pick_a_track">or Pick a track</a></h5>
                <h5> or Import tracks from:</h5>
                <ul class="track-list">
                    <li><a href="{% url 'social:begin' 'spotify'%}"><img src="{% static 'images/impot-track-icon01.png' %}" width="31" height="29" alt=""></a></li>
                    <li><a href="{% url 'social:begin' 'mixcloud'%}"><img src="{% static 'images/impot-track-icon02.png' %}" width="43" height="29" alt=""></a></li>
                    <li><a href="{% url 'social:begin' 'soundcloud'%}"><img src="{% static 'images/impot-track-icon03.png' %}" width="39" height="29" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/impot-track-icon04.png' %}" width="73" height="29" alt=""></a></li>
                    <li class="last"><a href="#"><img src="{% static 'images/impot-track-icon05.png' %}" width="126" height="29" alt=""></a></li>
                </ul>
            </div>
        <div class="form-btn"><a href="javascript:void(0)" class="btn btn-cancel" id="back_to_step1">BACK</a><a href="javascript:void(0)" class="btn btn-pink">NEXT</a></div>
    </div>
</div>

{# upload a track #}
<div class="modal-body share-profile" data-slug="{{ slug }}" id="competition_upload_audio" style="display: none">
    <a href="#" class="close-icon">close</a>
    <div class="enter-competition">
        <div class="steps-count">
            <div class="line">
                <div class="step2-filled"></div>
            </div>
            <ul>
                <li class="active"><a href="#"><span class="cricle">1</span>Enter Competition</a></li>
                <li  class="active"><a href="#"><span class="cricle">2</span>Upload A Track</a></li>
                <li><a href="#"><span class="cricle">3</span>Add a Video</a></li>
                <li><a href="#"><span class="cricle">4</span>Review</a></li>
                <li><a href="#"><span class="cricle">5</span>Success</a></li>
            </ul>
        </div>
        <h3>Upload a Track</h3>


        <form role="form" action="" method="post" id="upload_competition_audio">
            <div class="row">
                <div class="col-sm-4">

                <div class="track-thumb upload-track-thumb dropzone" data-width="165" data-height="165" data-resize="true" data-url="{% url 'playlist_cover' %}" > <a href="#" class="btn btn-red btn-sm" style="position: relative !important;"> UPLOAD AN IMAGE</a>
{#                    <p style="position: relative !important;">or DRAG AND DROP</p>#}
                    <input type="file" name="cover" id="id_cover" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.artist }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.privacy }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.genre }}
                            </div>
                        </div>
                        <p id="errors" style="color: #f10950; margin-left: 15px;"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form.description }}
                    </div>
                </div>
            </div>
            <div class="form-btn">
{#                <a href="javascript:void(0)" class="btn btn-cancel back_to_step2">BACK</a>#}
                <a href="#" onclick="return false" class="btn btn-pink" id="submit_audio">NEXT</a></div>
        </form>
    </div>
</div>

{# select track #}
<div class="modal-body mobcard share-profile" id="competition_select_track" style="display: none">
    <a href="#" class="close-icon">close</a>
    <form action="{% url 'pick_media_file' slug=competition.slug %}" method="post" id="competition_select_track_form">
        <div class="enter-competition">
            <div class="steps-count">
                <div class="line">
                    <div class="step2-filled"></div>
                </div>
                <ul>
                    <li class="active"><a href="#"><span class="cricle">1</span>Enter Competition</a></li>
                    <li  class="active"><a href="#"><span class="cricle">2</span>Upload A Track</a></li>
                    <li><a href="#"><span class="cricle">3</span>Add a Video</a></li>
                    <li><a href="#"><span class="cricle">4</span>Review</a></li>
                    <li><a href="#"><span class="cricle">5</span>Success</a></li>
                </ul>
            </div>
            <h3>Pick a track you wish to use</h3>
            <p id="pick_error" style="color: #dc0949; display:none;">This track is already in competition</p>

            <div class="scroll-pane-aria">
                <div class="scroll-pane">

                    {% csrf_token %}
                    {% if tracks %}
                        {% for track in tracks %}
                            <div class="track-pickup-block">
                                <div class="track-img"><img src="{{ MEDIA_URL }}{{ track.cover }}" class="img-responsive" alt=""></div>
                                <input type="radio" data-label=""  class="pull-right myClass " name="audio" value="{{ track.id }}" id="checkbox" />
                                <div class="info"> <span class="track-name">{{ track.name }}</span><br />
                                    {{ track.artist }} </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="myClass"></div>
                    {% endif %}

                </div>
            </div>
            <div class="form-btn"><a href="javascript:void(0)" class="btn btn-cancel back_to_step2">BACK</a><a href="javascript:void(0)" class="btn btn-pink" id="submit_select_track">NEXT</a></div>
        </div>
    </form>
</div>

{# third step #}
<div class="modal-body share-profile" id="competition_step3" style="display:none;">
    <a href="#" class="close-icon">close</a>
    <div class="enter-competition">
        <div class="steps-count">
            <div class="line">
                <div class="step2-filled" style="width:50%"></div>
            </div>
            <ul>
                <li class="active"><a href="#"><span class="cricle">1</span>Enter Competition</a></li>
                <li  class="active"><a href="#"><span class="cricle">2</span>Upload A Track</a></li>
                <li  class="active"><a href="#"><span class="cricle">3</span>Add a Video</a></li>
                <li><a href="#"><span class="cricle">4</span>Review</a></li>
                <li><a href="#"><span class="cricle">5</span>Success</a></li>
            </ul>
        </div>
        <h3>Pick a track you wish to use</h3>
        <p style="color: #dc0949; display:none;" id="file_error">Only mp4 file allowed</p>
            <div class="upload-track-full">

                <div class="drad-here-holder"><a href="#" class="btn btn-bdr-red">UPLOAD A VIDEO</a>
                <form action="{% url 'add_video_step1' %}" method="post" enctype="multipart/form-data" id="form_upload_step3">
                    {% csrf_token %}
                    <input type="file" name="video" id="id_video" class="upload_field"/>
                </form>
                </div>
            </div>
            <h5><a href="javascript:void(0)" id="pick_a_video">or Pick a video</a></h5>
            <div class="import-links clearfix">
                <h5> or Import tracks from:</h5>
                <ul>
                    <li><a href="#" class="youtube">Youtube</a></li>
                    <li><a href="#" class="vimeo">Vimeo</a></li>
                    <li><a href="#" class="fb">Facebook</a></li>
                    <li><a href="#" class="dailymotion">Daily motion</a></li>
                </ul>
            </div>
        <div class="form-btn"><a href="javascript:void(0)" class="btn btn-cancel">BACK</a><a href="javascript:void(0)" class="btn btn-pink">NEXT</a></div>
    </div>
</div>

{# upload video #}
<div class="modal-body share-profile" data-slug="{{ slug }}" id="competition_upload_video" style="display: none">
    <a href="#" class="close-icon">close</a>
    <div class="enter-competition">
        <div class="steps-count">
            <div class="line">
                <div class="step2-filled"></div>
            </div>
            <ul>
                <li class="active"><a href="#"><span class="cricle">1</span>Enter Competition</a></li>
                <li  class="active"><a href="#"><span class="cricle">2</span>Upload A Video</a></li>
                <li class="active"><a href="#"><span class="cricle">3</span>Add a Video</a></li>
                <li><a href="#"><span class="cricle">4</span>Review</a></li>
                <li><a href="#"><span class="cricle">5</span>Success</a></li>
            </ul>
        </div>
        <h3>Upload a Video</h3>


        <form role="form" action="" method="post" id="upload_competition_video">
            <div class="row">
                <div class="col-sm-4">

                <div class="track-thumb upload-track-thumb dropzone" data-width="165" data-height="165" data-resize="true" data-url="{% url 'playlist_cover' %}" > <a href="#" class="btn btn-red btn-sm" style="position: relative !important;"> UPLOAD AN IMAGE</a>
{#                    <p style="position: relative !important;">or DRAG AND DROP</p>#}
                    <input type="file" name="cover" id="id_cover" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.artist }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.privacy }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.genre }}
                            </div>
                        </div>
                        <p id="errors" style="color: #f10950; margin-left: 15px;"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form.description }}
                    </div>
                </div>
            </div>
            <div class="form-btn">
{#                <a href="javascript:void(0)" class="btn btn-cancel back_to_step2">BACK</a>#}
                <a href="#" onclick="return false" class="btn btn-pink" id="submit_video">NEXT</a></div>
        </form>
    </div>
</div>

{# select video #}
<div class="modal-body mobcard share-profile" id="competition_select_video" style="display:none;">
    <a href="#" class="close-icon">close</a>
    <form action="{% url 'pick_media_file' slug=competition.slug %}" method="post" id="competition_select_video_form">
        <div class="enter-competition">
            <div class="steps-count">
                <div class="line">
                    <div class="step2-filled"></div>
                </div>
                <ul>
                    <li class="active"><a href="#"><span class="cricle">1</span>Enter Competition</a></li>
                    <li  class="active"><a href="#"><span class="cricle">2</span>Upload A Track</a></li>
                    <li><a href="#"><span class="cricle">3</span>Add a Video</a></li>
                    <li><a href="#"><span class="cricle">4</span>Review</a></li>
                    <li><a href="#"><span class="cricle">5</span>Success</a></li>
                </ul>
            </div>
            <h3>Pick a video you wish to use</h3>

            <div class="scroll-pane-aria">
                <div class="scroll-pane">

                    {% csrf_token %}
                    {% for video in videos %}
                        <div class="track-pickup-block">
                            <div class="track-img"><img src="{{ MEDIA_URL }}{{ video.cover }}" class="img-responsive" alt=""></div>
                            <input type="radio" data-label=""  class="pull-right myClass " name="video" value="{{ video.id }}" id="checkbox" />
                            <div class="info"> <span class="track-name">{{ video.name }}</span><br />
                                {{ video.artist }} </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-btn"><a href="javascript:void(0)" class="btn btn-cancel back_to_step3">BACK</a><a href="javascript:void(0)" class="btn btn-pink" id="submit_select_video">NEXT</a></div>
        </div>
    </form>
</div>

<script>
    $('.dropzone').html5imageupload();
    $('#test').on('click', function(){
        var competition = $('#competition_upload_video').data('slug');
        $.get( '/competitions/'+competition+'/review/', function( data ) {
          $( ".modal-body" ).html( data );
        });
    });
</script>