.insight-container,
.news-page,
.account-settins,
.middle-wrap,
.search-filter-page {
    padding-top: 78px;
    margin-top: 0;
}
.after-banner-strip + .middle-wrap {
    padding-top: 20px;
}
.middle-wrap {
    overflow: hidden;
}

.banner-container {
    padding-top: 48px;
}

.main-container,
.sidr {
    height:100vh;
    overflow: scroll;
    min-height: 0;
}